body {
    margin: 0;
    background-color: #f3f4f6;
    font-family: 'Roboto', sans-serif;
}

.bookContainer {
    display: flex;
    flex-direction: column;

    border-radius: 8px;
    border-left: 8px solid #fbbf24;
    background-color: white;
    padding-left: 10px;
}

.bookContainer span {
    display: flex;
    font-size: 18px;
}

.bookContainer p {
    margin: auto 5px;
}

.bookContainer h3 {
    margin: 7px 0px;
}


.sidebar {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;

    position: fixed;
    left: 0;
    top: 0;

    width: 20vw;
    height: 100vh;
}

.sidebar form {
    background-color: aliceblue;
    display: flex;
    flex-direction: column;
}

.library {
    margin-left: 23vw;
    margin-right: 3vw;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 450px));
    gap: 25px;
}